

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Generics */

body{
    color: rgb(125,127,132);
    font-family: 'Montserrat', sans-serif;
    
}

img{
   width: 100%;
}
::-webkit-scrollbar{
    background-color: rgb(20,25,34);
    width: 10px;
}

::-webkit-scrollbar:hover{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 15px;
}





/* up-content */

.up-content{
    display: flex;

}


.navbar{
    width: 343px;
    height: calc(100vh - 90px);
    background-color: black;
    text-align: center;
    font-size: 13px;
    padding-top: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.navbar-bottom{
    height: 20%;
    padding: 10px;
    

}

.navbar-top{
    height: 70%;
    overflow: hidden;
    padding: 10px;
}




.logo{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    padding-bottom: 5px;
    color: white;
}

.logo > i{
    font-size: 40px;
}


.navigation{
    text-align: start;
}

.icon > li{
    display: flex;
    gap: 5px;

}

.icon > li:hover{
    color: white;
}

li > i{
    font-size: 19px;
    cursor: pointer;
}

.playlist{
    padding-top: 10px;
    font-size: 12px;
}

.playlist > h5{
    padding-bottom: 10px;
    font-size: 15px;
}

.playlist > h5:hover{
    color: white;
}

.playlist > section{
    padding-bottom: 5px;
    gap: 1px;
}

.playlist > section:hover{
    color: white;
}

.directory{
    list-style-type: none;
    line-height: 10px;

}

.directory >li:hover{
    color: white;
}

#book{
    width: 10%;
}

.fa-square-plus{
    font-size: 20px;
}

.app {
    gap: 5px;
    font-size: 12px;
    display: flex;
    cursor: pointer;

}

.app > i{
    font-size: 10px;
    border: 1px solid rgb(125,127,132);
    padding: 2px 3px;
    border-radius: 50px;
}

.app:hover{
    color: white;
}


.john{
    gap: 5px;
    font-size: 17px;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    border-top: 1px solid gray;
    padding-top: 2px;
}

.john:hover{
    color: white;
}

.install > section{
    padding: 4px;
    display: flex;
    margin-right: 40px;
}



/* Main */

main{
    height: calc(100vh - 100px);


}


/* Header */

header{
    height: 100px;
    background-color: rgba(8,11,18);
    opacity: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
}

header > button{
    border: 2px white solid;
    border-radius: 20px;
    padding: 7px 35px;
    background-color: rgb(8,11,18);
    color: white;
    font-size: 12px;

}

button:hover{
    padding: 9px 36px;
    font-size: 14px;
}


.page{
    background-color: rgb(20,25,34);
    overflow-y: auto;
    height: 100%;

}

.pages{
    display: flex;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

li > a:hover{
    color: white;

}

li{
    padding: 10px 5px;

}

a{
  text-decoration: none;
  color: rgb(125,127,132);
}

#underlined{
    border-bottom: 2px solid rgb(172,255,47);
    padding-bottom: 5px;
}

/* Card */

.recently{
    flex-wrap: wrap;
    padding: 30px;
}

.recently > h5{
    margin-bottom: 10px;

}

.recently > h3{
    margin-bottom: 10px;

    color: white;
}



.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 10px;

}

.col{
    width: calc(100% / 6 - 10px);


}



.card >img{
    flex-wrap: wrap;

}

.card{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;
}

.card:hover figure{
    transform: scale(1.05) translateY(-5px);
}

.card:hover figure::after{
    content: '\f144';
    color: white;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5 );
}






.card > h5{
    line-height: 18px;
}

.card > h6{
    color: rgb(125,127,132);
    padding-top: 5px;
}


#round{
    border-radius: 50%;
}

.card:hover #round::after{
    
    border-radius: 50%;
}



/* footer */
footer{
    background-color: rgb(40,40,40);
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.song{
    width: 343px;
    display: flex;
    font-size: 10px;

}


.song > div{
    height: 100%;
    padding: 6px;

}

.reproduction{
    width: 90px;
    height: 90px;
}

.reproduction > img{
    width: 100%;
    height: 100%;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
}

.name > h6{
    color: white;
    font-size: 14px;
}

.favorites{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    padding-left: 5px;
}

.favorites > i:hover{
    color: white;
}

.console{
    width: 100%;

}

.keyes{
width: 100%;
height: 50%;
display: flex;
justify-content: center;
align-items: center;
padding: 0 15px;
color: white;
gap: 30px;
}

#circle{
    font-size: 20px;
}

#circle:hover{
    font-size: 26px;
}

.progress{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
color: white;
}

.principal{
    width: 70%;
    height: 3px;
    background-color: gray;
    border-radius: 10%;
    
}

.principal > div{
    width: 20%;
    height: 100%;
    background-color: lightgray;
}

.principal:hover{
    height: 5px;
}

.view{

    width: 343px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 9px;
    font-size: 15px;
    padding-right: 5px;
}

.view > .principal{
    width: 50%;
}

.view i:hover{
    color: white;
}








/* Responsive */



@media screen and (max-width: 1000px) {
    .col{
        width: calc(100% / 6);
    }
    .row {
        gap: 10px;
    }

    .install > section {
           margin-right: 30px;
           padding: 3px;
    }

    .reproduction > img {
        height: 90%;
    }



}

@media screen and (max-width: 900px) {
    .col{
        width: calc(100% / 5);
    }

    .install > section {
        margin-right: 30px;
        padding: 1px;
    }


   

}

@media screen and (max-width: 873px) {
    .col{
        width: calc(100% / 4);
    }

    .install > section {
        margin-right: 30px;
        padding: 1px;
    }


}


@media screen and (max-width:800px) {
    .install > section {
        margin-right: 20px;
    }

    .console{

        width: 33%;
    }

    .playlist{
        padding-bottom: 38px;
    }
}

@media screen and (max-width: 630px) {
    .col{
        width: calc(100% / 2 - 50px);
    }

    .song{
        display: none;
    }

    .view{
        display: none;
    }

    .console{
        width: 100%;
    }


}

@media screen and (max-width: 500px ){
    .col{
        width: calc(100% / 2 - 50px);
    }

 .navbar{
    width: 75px;
 }

 .install > section{
    padding: 7px;
 }




.navbar{
    padding: 10px;
}

 .logo > section{
    display: none;
 }

 .navigation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 li > section{
    display: none;
 }
 .app > i{
    font-size: 20px;
 }

 .install > section {
    margin-right: 0px;
    font-size: 20px;
}
 .playlist{
    display: none;
 }

 .john > section{
    display: none;
 }

 .app > section{
    display: none;

 }

 .navbar-bottom{
    text-align: center;
 }

 .john{
    border: 0;
 }



}
